<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.haniepark\.byethost4\.com)(:80)? [NC]
RewriteRule ^(.*) http://haniepark.byethost4.com/$1 [R=301,L]
DirectoryIndex index.html       
order deny,allow

AddType text/cache-manifest .manifest
